.btnn{
    background: purple;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-sizing: 0px 5px 7px rgba(0,0,0,05) ;
    cursor: pointer;
    transition: all 0.3s ;
}

.btnn:hover{
    background-color:rgb(36, 16, 36) ;
}