.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.todocard {
  transition: all 0.2s !important;
}
.todocard:hover {
  padding: 5px 0px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

/* costom fonts */
@font-face {
  font-family: alks;
  src: url(../public/fonts/Alexandria-Regular.ttf);
  font-size: normal;
}
@font-face {
  font-family: alks;
  src: url(../public/fonts/Alexandria-Bold.ttf);
  font-size: bold;
}
@font-face {
  font-family: alks;
  src: url(../public/fonts/Alexandria-Black.ttf);
  font-size: 900;
}
@font-face {
  font-family: alks;
  src: url(../public/fonts/Alexandria-Light.ttf);
  font-size: 200;
}
/* =========costom fonts====== */

/* scrolll */

.scrollable-div {
  overflow-y: auto;
  margin-top: 10px;
  transform: rotate(180deg);
}
.scrollable-div-inside {
  transform: rotate(-180deg);
}
.scrollable-div::-webkit-scrollbar {
  position: absolute;
  right: 0; /* Position the scrollbar on the right of the element*/
}
.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #b9b9b9; /* Set the color of the thumb */
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(236, 236, 236);
  border-radius: 5px;
}
